/* GENERAL - HELPERS */
.no-wrap {
  white-space: nowrap;
}

.underline-accent-color {
  background-image: linear-gradient(
    90deg,
    rgba(15, 143, 216, 1) 0%,
    rgba(15, 143, 216, 1) 100%
  );
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100% 15%;
  width: fit-content;
}

/* GENERAL - NAVBAR */
@media (prefers-color-scheme: dark) {
  img.navbar-brand-light {
    display: inline !important;
  }

  img.navbar-brand-dark {
    display: none;
  }
}

.nav-link,
.nav-item .dropdown-item {
  font-size: 1.2rem;
}

/* PAGE - INDEX */
.index-contact {
  font-size: 20px;
  font-size: clamp(20px, 4vw, 40px);
}

.index-contact a {
  color: white;
  text-decoration: none;
}

.index-contact a:hover {
  color: #bbb;
  text-decoration: underline;
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

/*!
 * Based on:
 * Start Bootstrap - Stylish Portfolio v6.0.6 (https://startbootstrap.com/theme/stylish-portfolio)
 * Copyright 2013-2023 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-stylish-portfolio/blob/master/LICENSE)
 */
.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 0 1rem 0;
  padding: 10px;
  padding-left: 25px;
}

@media (min-width: 576px) {
  .portfolio-item .caption .caption-content {
    padding-left: 50px;
  }
}

@media (min-width: 992px) {
  .portfolio-item .caption .caption-content {
    margin: auto 0 2rem 0;
  }
}

.portfolio-item .caption .caption-content p {
  text-transform: uppercase;
  margin: 0;
}

.portfolio-item:hover .caption {
  background-color: rgba(15, 143, 216, 0.75);
}
